<ion-view hide-nav-bar=true title="Receivers" class="votally-back-cream">
  <ion-content>
    <!-- Title Bar -->
    <div class="votally-title-bar">
      <div class="votally-title-name">
        <span>Send To</span>
      </div>
    </div>
      <ion-list class="receivers-list">
        <ion-item ng-repeat="receiver in allReceivers"
                  ng-class="{selected: isSelected(receiver)}"
                  ng-click="select(receiver)">
            {{receiver.username}}
        </ion-item>
      </ion-list>
  </ion-content>
  <!-- Footer which contains a button to make the final send -->
  <ion-footer-bar class="bar-dark">
      <button class="button button-stable button-assertive button-outline"
            ng-click="cancelSend()">
        Cancel
      </button>    
    <h1 class="title"> </h1>
    <button class="button button-stable button-balanced button-outline"
            ng-click="setReceivers()">
        Send
    </button>
  </ion-footer-bar>
</ion-view>