<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content>
    <ion-view hide-nav-bar=true class="votally-back-cream">
      <ion-content on-swipe-left="swiping('left')">
        <div class="votally-title-bar">
          <button class="button button-clear icon ion-navicon-round votally-title-button-left" 
                  menu-toggle="left">
          </button>

          <button class="button button-clear icon ion-person-add votally-title-button-right" 
                  ng-click="routeToAddFriend()">
          </button>
          <div class="votally-title-name">
            <span>My Friends</span>
          </div>
        </div>
        <div class="friend-search">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search Friends" ng-model="friendSearch">
          </label>
        </div>
        
        <ion-list>
          <ion-item ng-repeat="friend in allFriends | filter: friendSearch">
              {{friend.username}}
          </ion-item>
        </ion-list>
        <!--sets up the main div where the camera image will reside
        is swipable to bring to bring to pending(swiperight) and results(swipeleft) -->
        
      </ion-content>
    </ion-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left" ng-controller="SettingsController">
    <ion-content scroll=false>
      <div class="setting-bar">
        Settings
      </div>
      <ion-list>
        <ion-item class="item" ng-repeat="setting in Settings"
                  ng-click="setting.hovers && setting.action()"
                  ng-class="{divider: setting.isDivider, highlight: setting.hovers}">
            {{setting.title}}
        </ion-item>
      </ion-list>
    </ion-content>
<!--         <ion-footer-bar class="bar-dark">
      </ion-footer-bar> -->
  </ion-side-menu>

</ion-side-menus>
